.backspace-key {
	/*border: 0px !important;*/
	/*padding: 0px !important;*/
	padding-top:6px !important;
	padding-bottom: 6px !important;
}

#backspace_key {
	height: 44px;
}

.container {
	width: 1280px;
}

.header {
	margin-top: 6rem;
	text-align: center;
}

.keyboard {
	text-align: center;
}

button.keyboard-key-2 {
	font-family: "Courier New", Courier, monospace;
	font-size: 37px;
}

button.keyboard-key-2:active {
	color: #FFF;
	background-color: #33C3F0;
	border-color: #33C3F0;
}


button.keyboard-key {
	font-family: "Courier New", Courier, monospace;
	font-size: 37px;
}

button.keyboard-key:active {
	color: #FFF;
	background-color: #33C3F0;
	border-color: #33C3F0;
}

/* The active-style class is used by jQuery
   to simulate CSS's ":active" pseudo-class.
*/
button.active-style {
	color: #FFF;
	background-color: #33C3F0;
	border-color: #33C3F0;
}

/* Dynamically adjusts the size of the keyboard's buttons. */
@media (min-width: 320px) {
	button.keyboard-key {
		padding: 0px 3px;
	}
}

@media (min-width: 335px) {
	button.keyboard-key {
		padding: 0px 6px;
	}
}

@media (min-width: 375px) {
	button.keyboard-key {
		padding: 0px 7px;
	}
}

@media (min-width: 520px) {
	button.keyboard-key {
		padding: 0px 9px;
	}
}

@media (min-width: 700px) {
	button.keyboard-key {
		padding: 0px 10px;
	}
}

@media (min-width: 800px) {
	button.keyboard-key {
		padding: 0px 12px;
	}
}

@media (min-width: 930px) {
	button.keyboard-key {
		padding-top: 9px;
		padding-bottom: 9px;
		padding-left: 18px;
		padding-right: 18px;
	}
}

.blink_keyboard_key {
	-webkit-animation: NAME-YOUR-ANIMATION 2s infinite; /* Safari 4+ */
	-moz-animation: NAME-YOUR-ANIMATION 2s infinite; /* Fx 5+ */
	-o-animation: NAME-YOUR-ANIMATION 2s infinite; /* Opera 12+ */
	animation: NAME-YOUR-ANIMATION 2s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes NAME-YOUR-ANIMATION {
	0%, 49% {
		background-color: rgb(0, 0, 0);
		border: 1px solid rgb(127, 127, 127);
		color: white;
	}
	50%, 100% {
		background-color: rgb(127, 127, 127);
		border: 1px solid rgb(0, 0, 0);
		color: black;
	}
}